@charset "UTF-8";

/**
 * sheet vars
 * change these accordingly
 */
 @import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto|Roboto+Mono');
:root {
    /* fonts */
    --serif-font: 'Merriweather', 'Garamond', 'Open Serif', 'Times New Roman' serif;
    --sans-font: 'Roboto', 'Helvetica', 'Open Sans', 'Segoe UI', sans-serif;
    --mono-font: 'Roboto Mono', 'Monaco', 'Consolas', monospace;
    /* colors */
    --blue: #3949ab;
    --red: #d32f2f;
    --green: #43a047;
    --yellow: #fbc02d;
    --pink: #c2185b;
    --grey: #757575;
    --light-grey: #eeeeee;
    --white: #fafafa;
    --black: #212121;
    /* sizes */
}

/**
 * top navbar
 */
.navbar { width: 100vw; }
.navbar.fixed { position: fixed; top: 0; }

/*
 * <code>
 */
code { color: var(--red); font-family: var(--mono-font); }
code.block { 
     display: block;
     padding: 5%;
     background-color: var(--grey);
     border: 1px var(--grey) solid;
     border-radius: 10%;
}

/* UI Helpers */
.materialButton { }
.rippleButton { }

/**
 * gridding 
 */
.container { 
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
}

.row { }

/* Spacing */
div[class^="col-"].spc-6 , div[class*=" col-"].spc-6  { }
div[class^="col-"].spc-12, div[class*=" col-"].spc-12 { }
div[class^="col-"].spc-24, div[class*=" col-"].spc-24 { }
div[class^="col-"].spc-40, div[class*=" col-"].spc-40 { }

/* Small columns */
.col-s1 { }

/* Medium Columns */

/* Large Columns */


/**
 * margin
 */
.mg-0  { margin: 0;   }
.mg-20 { margin: 20%; }
.mg-40 { margin: 40%; }
.mg-60 { margin: 60%; }
.mg-80 { margin: 80%; }

/* vertical */
.md-vt-0  { margin: inherit 0;   }
.mg-vt-20 { margin: inherit 20%; }
.mg-vt-40 { margin: inherit 40%; }
.mg-vt-60 { margin: inherit 60%; }
.mg-vt-80 { margin: inherit 80%; }

/* horizonal */
.mg-hz-0  { margin: 0   inherit; }
.mg-hz-20 { margin: 20% inherit; }
.mg-hz-40 { margin: 40% inherit; }
.mg-hz-60 { margin: 60% inherit; }
.mg-hz-80 { margin: 80% inherit; }

/* left */
.mg-l-20 { margin-left: 20%; }
.mg-l-40 { margin-left: 40%; }
.mg-l-60 { margin-left: 60%; }
.mg-l-80 { margin-left: 80%; }

/* right */
.mg-r-20 { margin-right: 20%; }
.mg-r-40 { margin-right: 40%; }
.mg-r-60 { margin-right: 60%; }
.mg-r-80 { margin-right: 80%; }

/* top */
.mg-t-20 { margin-top: 20%; }
.mg-t-40 { margin-top: 40%; }
.mg-t-60 { margin-top: 60%; }
.mg-t-80 { margin-top: 80%; }

/* bottom */
.mg-b-20 { margin-bottom: 20%; }
.mg-b-40 { margin-bottom: 40%; }
.mg-b-60 { margin-bottom: 60%; }
.mg-b-80 { margin-bottom: 80%; }


/**
 * padding
 */
 .pa-20 { padding: 20%; }
 .pa-40 { padding: 40%; }
 .pa-60 { padding: 60%; }
 .pa-80 { padding: 80%; }
 
 /* vertical */
 .pa-vt-20 { padding: inherit 20%; }
 .pa-vt-40 { padding: inherit 40%; }
 .pa-vt-60 { padding: inherit 60%; }
 .pa-vt-80 { padding: inherit 80%; }
 
 /* horizonal */
 .pa-hz-20 { padding: 20% inherit; }
 .pa-hz-40 { padding: 40% inherit; }
 .pa-hz-60 { padding: 60% inherit; }
 .pa-hz-80 { padding: 80% inherit; }
 
 /* left */
 .pa-l-20 { padding-left: 20%; }
 .pa-l-40 { padding-left: 40%; }
 .pa-l-60 { padding-left: 60%; }
 .pa-l-80 { padding-left: 80%; }
 
 /* right */
 .pa-r-20 { padding-right: 20%; }
 .pa-r-40 { padding-right: 40%; }
 .pa-r-60 { padding-right: 60%; }
 .pa-r-80 { padding-right: 80%; }
 
 /* top */
 .pa-t-20 { padding-top: 20%; }
 .pa-t-40 { padding-top: 40%; }
 .pa-t-60 { padding-top: 60%; }
 .pa-t-80 { padding-top: 80%; }
 
 /* bottom */
 .pa-b-20 { padding-bottom: 20%; }
 .pa-b-40 { padding-bottom: 40%; }
 .pa-b-60 { padding-bottom: 60%; }
 .pa-b-80 { padding-bottom: 80%; }