
/**
 * sheet vars
 * change these accordingly
 */
 @import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto|Roboto+Mono');
 :root {
     /* fonts */
     --serif: 'Merriweather', 'Garamond', 'Open Serif', 'Times New Roman' serif;
     --sans: 'Roboto', 'Helvetica', 'Open Sans', 'Segoe UI', sans-serif;
     --mono: 'Roboto Mono', 'Monaco', 'Consolas', monospace;
     /* colors */
     --blue: #1e88e5;
     --light-blue: #64b5f6;
     --red: #d32f2f;
     --green: #43a047;
     --yellow: #fbc02d;
     --pink: #c2185b;
     --grey: #757575;
     --light-grey: #eeeeee;
     --white: #fafafa;
     --black: #212121;
     /* sizes */
 }

 /** Fonts **/
 .sans { font-family: var(--sans); }
 .serif { font-family: var(--serif); }
 .mono { font-family: var(--mono); }

/** Colors **/
/* background */
.bg-blue       { background-color: var(--blue);       }
.bg-red        { background-color: var(--red);        }
.bg-green      { background-color: var(--green);      }
.bg-yellow     { background-color: var(--yellow);     }
.bg-pink       { background-color: var(--pink);       }
.bg-grey       { background-color: var(--grey);       }
.bg-light-grey { background-color: var(--light-grey); }
.bg-white      { background-color: var(--white);      }
.bg-black      { background-color: var(--black);      }
/* foreground (text) */
.fg-blue       { color: var(--blue);       }
.fg-red        { color: var(--red);        }
.fg-green      { color: var(--green);      }
.fg-yellow     { color: var(--yellow);     }
.fg-pink       { color: var(--pink);       }
.fg-grey       { color: var(--grey);       }
.fg-light-grey { color: var(--light-grey); }
.fg-white      { color: var(--white);      }
.fg-black      { color: var(--black);      }
/* border */
.bd-blue       { border-color: var(--blue);       }
.bd-red        { border-color: var(--red);        }
.bd-green      { border-color: var(--green);      }
.bd-yellow     { border-color: var(--yellow);     }
.bd-pink       { border-color: var(--pink);       }
.bd-grey       { border-color: var(--grey);       }
.bd-light-grey { border-color: var(--light-grey); }
.bd-white      { border-color: var(--white);      }
.bd-black      { border-color: var(--black);      }